doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/view.css")
        title Document
    body 
        // form to create a new invoice using bootstrap classes, with the following fields: invoice total, invoice email
        form
            .form-group
                label(for='invoiceTotal') Invoice Total
                input.form-control(type='number' placeholder='Enter invoice total')
            .form-group
                label(for='invoiceEmail') Invoice Email
                input#invoiceEmail.form-control(type='email' placeholder='Enter invoice email')
            button#submit.btn.btn-primary(type='submit') Submit
        table.table
            thead
                tr
                    th Service
                    th Price
                    th Qty
                    th Total
            tbody

                each service in invoice.services
                    tr
                        td= service.name
                        td= service.price
                        td= service.qty
                        td= service.total
        .total
            h3= invoice.total

    script(src='/scripts/invoice/create.js')